services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: daily
    tty: true
    stdin_open: true
    restart: unless-stopped
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      TYPE: FORGE
      VERSION: "1.20.1"
      ENABLE_RCON: "true"
      RCON_PASSWORD_FILE: /run/secrets/rcon_pass
      ONLINE_MODE: "false"
      MEMORY: "3G"
      MODS: "https://mediafilez.forgecdn.net/files/7598/586/xaerominimap-forge-1.20.1-25.3.10.jar"
    volumes:
      - ./data:/data
    secrets:
      - rcon_pass

secrets:
  rcon_pass:
    file: ./rcon_password
